@import url('~@/styles/reset.scss');

.app {
    width: 100vw;
    height: 100vh;

    .title {
        text-align: center;
    }

    .clickable-list-item {
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .clickable-list-item:hover {
        background-color: #f0f0f0; /* Change to your desired hover color */
      }
}

